@keyframes error {
  0%{
  	top: -50px;
	opacity: 0;
  }
  10% {
	top: 10px;
	opacity: 1;
  }

  90% {
	top: 10px;
	opacity: 1;
  }

  100%{
	top: -50px;
	opacity: 0;
  }
}

#error{
	position: fixed;
	top: -50px;
	left: 50%;
	transform: translate3d(-50%,0,0);
	transition: all ease .5s;
	opacity: 0;
	z-index: 3;
	background: #fff;
	padding: 15px;
}
#error.error{
	animation-name: error;
	animation-duration: 10s;
}