@keyframes error {
  0%{
  	top: -50px;
	opacity: 0;
  }
  5% {
	top: 10px;
	opacity: 1;
  }

  95% {
	top: 10px;
	opacity: 1;
  }

  100%{
	top: -50px;
	opacity: 0;
  }
}

#error{
	position: fixed;
	top: -50px;
	left: 50%;
	transform: translate3d(-50%,0,0);
	opacity: 0;
	z-index: 3;
	background: #fff;
	padding: 15px;
}
#error.error{
	animation-name: error;
	animation-duration: 10s;
}

#modal{
	position: fixed;
	top: 0px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 10;
}
#contentModal{
	margin: 20px 0;
}
#realModal{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	transform: translate3d(-50%,-50%,0);
	background-color: #fff;
	text-align: center;
	padding: 25px;
}
#modalLeave{
	position: fixed;
	right: 10px;
	top: 10px;
}
#modalButtons{
	display: flex;
	justify-content: flex-end; 
	margin-top: 15px;
}
#modalYes{
	background-color: #2dcc70;
}
#modalNo{
	background-color: #e74b3c;
}
#modalCancel{
	background-color: #dcdcdc;
}
.modalButton{
	padding: 10px 15px;
	margin: 0 5px;
	color:#fff;
	cursor: pointer;
}