/* Font */
@font-face{
	font-family: 'Lato_Regular'; 
	src: url("font/Lato-Regular.ttf");
}
@font-face{
	font-family: 'Lato_Bold'; 
	src: url("font/Lato-Bold.ttf");
}
@font-face{
	font-family: 'Lato_Italic'; 
	src: url("font/Lato-Italic.ttf");
}
html,body{
	width: 100%;
	height: 100%;
}
p,h1,h2,h3,h4{
	margin: 0;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
    color: #011c27;
}
body{
	background-color: #35605a;
	color: rgb(0, 0, 0);
	font-family: 'Lato_Regular';
	margin: 0;
}

#title{
    font-size: 61px;
    font-style: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    color: aliceblue;
    
}

#icon{
    font-size: 100px;
    font-style: bold;
    font-family: wingdings;
    color: #35605a ;
    
}

#icon>span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 70px;
    width: auto; 
    float: left; 
    padding: 0 15px; 
    position: relative; 
    left: 15%; 
}

#iconP>span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 70px;
    width: auto; 
    float: left; 
    padding: 0 15px; 
    position: relative; 
    left: 15%; 
}

#iconP{
    font-size: 100px;
    font-style: bold;
    font-family: wingdings;
    color: #35605a ;
    width: auto; 
    float: left; 
    position: relative; 
    left: -5%; 
}
.circleBase {
    position: absolute;
    top: 50%;
    border-radius: 70%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    transition: all ease .5s;
        width: 150px;
        height: 150px;
        background: white;

}
.active{
    top:0px;
    left:25px !important;   
    transform: translate3d(0,0,0) scale(0.75)!important; 
}
.active h3{
    color: #011c27 !important;
    font-size: 40px !important;
}
.unactive{
    display: none;
}
.circleBase h4{
    line-height: 150px;
    vertical-align: middle;
}

.circleBase h3{
    vertical-align: middle;
    color: aliceblue;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.type1 {
    width: 150px;
    height: 150px;
    background: white;
}
#icons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    /* display: flex; */
    justify-content: space-evenly;
}
.circleBase:nth-child(1){
    left: 25%;
    transform: translate3d(-50%,0,0);
}
.circleBase:nth-child(2){
    left: 50%;
    transform: translate3d(-50%,0,0);

}
.circleBase:nth-child(3){
    left: 75%;
    transform: translate3d(-50%,0,0);
}