/* Font */
@font-face{
	font-family: 'Lato_Regular'; 
	src: url("font/Lato-Regular.ttf");
}
@font-face{
	font-family: 'Lato_Bold'; 
	src: url("font/Lato-Bold.ttf");
}
@font-face{
	font-family: 'Lato_Italic'; 
	src: url("font/Lato-Italic.ttf");
}
html,body{
	width: 100%;
	height: 100%;
}
p,h1,h2,h3,h4{
	margin: 0;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #011c27;
}
body{
	background-color: #35605a;
	color: rgb(0, 0, 0);
	font-family: 'Lato_Regular';
    margin: 0;
    display: flex;
    flex-flow: column;
}
#header{
    z-index: -1;
}
#title{
    font-size: 61px;
    font-style: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    color: aliceblue;
    
}

#iconExample, #iconCreate, #iconOpen{
    font-size: 100px;
    font-style: bold;
    font-family: wingdings;
    color: #35605a ;
    
}

#iconCreate>span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 70px;
    width: auto; 
    float: left; 
    padding: 0 15px; 
    position: relative; 
    left: 15%; 
}
.activeThis{
    display: block;
}
#signIn {
    display: none;
    width: 40%;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    margin: auto;
}

#signIn.active{
    display: block;
    z-index: 2;
}
#chooseGA{
    display: none;
    position: relative;
    top: 20%;
}

#chooseGA.active{
    display: block;
    z-index: 2;
}

.chooseGA{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.choose {
    max-width: 400px;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
	display : flex;
	flex-direction : column;
	padding: 30px;
}


.choose>h4{
    margin-bottom: 15px;
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.chooseInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	/*width : 650px;*/
}
#infoGA{
	padding : 30px;
	display : none;
    max-width: 250px;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
	overflow : hidden;
	max-height : 50vh;
}

#infoGA.active3{
	display : flex;
	flex-direction : column;
	align-items : center;
}

#infoGA>h4{
    margin-bottom : 15px;
    color: #35605a;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#infoGA table td{
	border : 1px solid #35605a;
	text-align : center;
	padding : 0 5px;
}

#infoGA table{
	display : flex;
	flex-wrap : wrap;
}

#infoGA tr{
	display : flex;
	flex-direction : column;
	flex-wrap : wrap;
}

/*.choose p:hover, #infoGA>p{
	color : #47827a;
}
.choose p{
	color : inherit;
	text-decoration : inherit;
	cursor : pointer;
}*/

#signIn>h4{
    padding: 30px;
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#form {
   margin-left: auto;
   margin-right: auto;
   padding: 15px;
}

#formCreateGA>input{
    width: 20px;
    height: 20px;
}

#formCreateGA{
	padding : 20px 0;
}

#form>p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#signIn>input{
    width: 450px;
    height: 35px;
    border: 2px solid #011c27; 
}
.validate{
    width: 50px;
    height: 50px;
    align-self: flex-end;
}
.fas{
    font-weight: 900;
    font-size: 40px;
}

.validate>i, .validate>a{
	color : #011c27;
	cursor : pointer;
}

 .validate>i:hover, .validate>a:hover{
	 color : #5a352a;
 }

.create{
	cursor : pointer;
    width: 250px;
    height: 35px;
    background :  #011c27;
    border-radius: 10px;
}

.create:hover{
	background-color : #5a352a;
}

.create>h4{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}

.or>h3{
    font-size: 70px;
    color: #eeeeee;
}

#goBackStart{
	position: absolute;
    top: 0;
	left : 25px;
    border-radius: 70%;
	z-index : 2;
	width: 150px;
    height: 150px;
    background: none;
	transform : scale(0.75);
	cursor : pointer;
}

.circleBase {
	cursor : pointer;
    position: absolute;
    top: 50%;
    border-radius: 70%;
    transition: all ease .5s;
        width: 150px;
        height: 150px;
        background: white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;

}

#createAlgebra.active{
    display : flex;
	flex-direction : column;
    z-index: 2;
}

#createAlgebra{
    display: none;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    padding: 40px;
    margin: auto;
}
#createAlgebra>h3{
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#createAlgebra p{
	text-align: left;
}

#createAlgebra p span{
	margin-left : 5px;
	white-space : nowrap;
}

.GADefExamples{
	color : #35605a;
	font-size : 18px;
}

.GADefError{
	display : none;
	font-size : 18px;
	color : #bc2929;
}

.active{
    top:0px;
    left:25px !important;   
    transform: translate3d(0,0,0) scale(0.75)!important; 
    
}
#icons.activeDiv{
    z-index: 1;
}
.activeClass{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}
.active h3{
    color: #011c27 !important;
    font-size: 30px !important;
    position: absolute !important;
    bottom: -40px !important;
}
.activeClass2{
    display: flex !important;
    z-index: 2;
}
.unactive{
    display: none;
}
.circleBase h4{
    line-height: 150px;
    vertical-align: middle;
}

.circleBase h3{
    vertical-align: middle;
    color: aliceblue;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    bottom: -30px;
    white-space: nowrap;
}
.type1 {
    width: 150px;
    height: 150px;
    background: white;
}
#icons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    /* display: flex; */
    justify-content: space-evenly;
}

.circleBase:nth-child(1){
    left: 25%;
    transform: translate3d(-50%,0,0);
}
.circleBase:nth-child(2){
    left: 50%;
    transform: translate3d(-50%,0,0);
}
.circleBase:nth-child(3){
    left: 75%;
    transform: translate3d(-50%,0,0);
}
.listChoosableGA{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choosableLang{
    display: flex;
    justify-content: space-between;
}
.choosableLang p{
    background: #ff4c00;
    margin: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}
.choosableLang p:hover{
    background: #ff6600;
}
#infosAboutGAsp{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate3d(-50%,0,0);
}
#infosAboutGAsp a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}