/* Font */
@font-face{
	font-family: 'Lato_Regular'; 
	src: url("font/Lato-Regular.ttf");
}
@font-face{
	font-family: 'Lato_Bold'; 
	src: url("font/Lato-Bold.ttf");
}
@font-face{
	font-family: 'Lato_Italic'; 
	src: url("font/Lato-Italic.ttf");
}
html,body{
	width: 100%;
	height: 100%;
}
p,h1,h2,h3,h4{
	margin: 0;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #011c27;
}
body{
	background-color: #35605a;
	color: rgb(0, 0, 0);
	font-family: 'Lato_Regular';
    margin: 0;
    display: flex;
    flex-flow: column;
}
#header{
    z-index: -1;
}
#title{
    font-size: 61px;
    font-style: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    color: aliceblue;
    
}

#iconExample, #iconCreate, #iconOpen{
    font-size: 100px;
    font-style: bold;
    font-family: wingdings;
    color: #35605a ;
    
}

#iconCreate>span{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 70px;
    width: auto; 
    float: left; 
    padding: 0 15px; 
    position: relative; 
    left: 15%; 
}
.activeThis{
    display: block;
}
#signIn {
    display: none;
    width: 40%;
    height: 40%;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    margin: auto;
}
#project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#project>*{
    margin: 10px;
}
#rename{
    border: 2px solid #011c27;
    background: #011c27;
    border-radius: 5px;
    color: #eeeeee;
}
#projectList{
    width: 40%;
    height: 50%;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    margin: auto;
}
#projectList>h4{
    padding: 10px;
}
#signIn.active{
    display: block;
    z-index: 2;
}
#chooseGA{
    display: none;
    position: relative;
    top: 20%;
}

#chooseGA.active{
    display: block;
    z-index: 2;
}

.chooseGA{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.choose{
    width: 400px;
    height: 300px;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
	display : flex;
	flex-direction : column;
}

.choose>h4{
    padding: 30px;
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.chooseInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.infoGA{
    width: 250px;
    height: 300px;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
}
.infoGA>h4{
    padding: 30px;
    color: #35605a;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.choose > p{
	cursor : pointer;
}

.choose>p:hover, .infoGA>p{
	color : #47827a;
}

#signIn>h4{
    padding: 30px;
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#form {
   margin-left: auto;
   margin-right: auto;
    padding: 20px;
}
#form2>input{
    width: 20px;
    height: 20px;
}
#form>p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#signIn>input{
    width: 450px;
    height: 35px;
    border: 2px solid #011c27; 
}
.validate{
    width: 50px;
    height: 50px;
    align-self: flex-end;
}
.fas{
    font-weight: 900;
    font-size: 40px;
}

.validate>i{
	color : #011c27;
	cursor : pointer;
}

 .validate>i:hover{
	 color : #5a352a;
 }

.create{
	cursor : pointer;
    width: 250px;
    height: 35px;
    background :  #011c27;
    border-radius: 10px;
}

.create:hover{
	background-color : #5a352a;
}

.create>h4{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}

.or>h3{
    font-size: 70px;
    color: #eeeeee;
}

#goBackStart{
	position: absolute;
    top: 0;
	left : 25px;
    border-radius: 70%;
	z-index : 2;
	width: 150px;
    height: 150px;
    background: none;
	transform : scale(0.75);
	cursor : pointer;
}

.circleBase {
	cursor : pointer;
    position: absolute;
    top: 50%;
    border-radius: 70%;
    transition: all ease .5s;
        width: 150px;
        height: 150px;
        background: white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;

}

#createAlgebra.active{
    display: block;
    z-index: 2;
}

#createAlgebra{
    display: none;
    width: 60%;
    height: 35%;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    padding: 40px;
    margin: auto;
}
#createAlgebra>h3{
    color: #011c27;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.active{
    top:0px;
    left:25px !important;   
    transform: translate3d(0,0,0) scale(0.75)!important; 
    
}
#icons.activeDiv{
    z-index: 1;
}
.activeClass{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.active h3{
    color: #011c27 !important;
    font-size: 30px !important;
    position: absolute !important;
    bottom: -40px !important;
}
.activeClass2{
    display: flex !important;
    z-index: 2;
}
.unactive{
    display: none;
}
.circleBase h4{
    line-height: 150px;
    vertical-align: middle;
}

.circleBase h3{
    vertical-align: middle;
    color: aliceblue;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    bottom: -30px;
    white-space: nowrap;
}
.type1 {
    width: 150px;
    height: 150px;
    background: white;
}
#icons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    /* display: flex; */
    justify-content: space-evenly;
}

.circleBase:nth-child(1){
    left: 25%;
    transform: translate3d(-50%,0,0);
}
.circleBase:nth-child(2){
    left: 50%;
    transform: translate3d(-50%,0,0);
}
.circleBase:nth-child(3){
    left: 75%;
    transform: translate3d(-50%,0,0);
}

/*<div id = "title2">
<h3>Create a new project</h3>
</div>

<div id = "title1">
<h3>Discover with examples</h3>
</div>

<div id ="title3"
<h3>Open a project</h3>
</div>*/