/* Font */
@font-face{
	font-family: 'Lato_Regular'; 
	src: url("font/Lato-Regular.ttf");
}
@font-face{
	font-family: 'Lato_Bold'; 
	src: url("font/Lato-Bold.ttf");
}
@font-face{
	font-family: 'Lato_Italic'; 
	src: url("font/Lato-Italic.ttf");
}
html,body{
	width: 100%;
	height: 100%;
}
p,h1,h2,h3,h4{
	margin: 0;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #011c27;
}
body{
	background-color: #35605a;
	color: rgb(0, 0, 0);
	font-family: 'Lato_Regular';
    margin: 0;
    display: flex;
    flex-flow: column;
}
#header{
    z-index: -1;
}
#title{
    font-size: 61px;
    font-style: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    color: aliceblue;
    
}
#projectList{
    width: auto;
    height: auto;
    padding: 20px;
    border: 2px solid #011c27;
    background: #eeeeee;
    border-radius: 15px;
    margin: auto;
}
#iconOpen{
    font-size: 100px;
    font-style: bold;
    font-family: wingdings;
    color: #35605a ;
    position: absolute;
    top: 0%;
    left: 1.65%;
}
#iconOpen>h4{
    position: absolute;
    bottom: -40px;
}
.circleBase{
    cursor : pointer;
    position: absolute;
    top: 50%;
    border-radius: 70%;
        width: 150px;
        height: 150px;
        background: white;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        transform: translate3d(0,0,0) scale(0.75);
}


.circleBase h4{
    vertical-align: middle;
    color: #011c27 ;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    bottom: -30px;
    white-space: nowrap;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#projectContainer{
    display: flex;
    flex-direction: row;
}
.project>*{
    margin: 10px;
}
.rename{
    border: 2px solid #011c27;
    background: #011c27;
    border-radius: 5px;
    color: #eeeeee;
}
#projects2{
    padding: 0 20px;
    border-left: solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#projects1{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projectList>h4{
    padding: 30px;
}
#menuAccount{
    position: absolute;
    left: -30px;
    display: none;
}
#logoutButton{
    position: fixed;
    background-color: ##011c27;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    top: 20px;
    right: 20px;
    cursor: pointer;
}